---
import Layout from "../layouts/Layout.astro";
import orderedItems from "../mockData/default.json";
---

<Layout title="Bill Splitter">
  <main class="flex flex-col items-center">
    <h1 class="text-7xl my-5">Bill Splitter</h1>
	<div hx-get="http://localhost:3000/api/v1/bills/1" hx-trigger="load" hx-replace="innerHTML"></div>
  </main>
</Layout>

