---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Page">
    <h2 class="text-white">ASDFASDF</h2>
    <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam blanditiis odio doloribus autem repudiandae facere voluptatem reprehenderit sequi, deserunt facilis maiores iusto vero sint fugit. Impedit laborum, nam obcaecati vel omnis nihil quas vero illo veniam, possimus qui deleniti fugit totam voluptatibus quae reiciendis dolorem necessitatibus harum nobis earum perferendis!</p>
</Layout>